<%- include('header') -%>
    <div class="box" id="heading">
        <h1 style="color: purple;"><%= kindOfDay %>!</h1>
    </div>
        
    <div class="box">
        
        
            
            <% addTask.forEach(function(add) { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=add._id%>">
                        <p><%= add.name %></p>
                    </div>
                    <input type="hidden" name="listName" value="<%=kindOfDay%>">
                </form>
                
            <%    })%>
            
            
        
       
        <form action="/" method="post" class="item">
            <input type="text" name="newToDo" placeholder="New Task" autocomplete="off">
            <button type="submit" value= <%= kindOfDay %> name="list">+</button>
        </form>
    </div>
    
    
<%- include('footer') -%>
